<h1><%= @prescription.name %> <a href="/prescriptions/<%=@prescription.id%>/edit"></a>
<h3>(edit)</h3>

<h1><a href="/prescriptions/<%=@prescription.id%>/delete"></a></h1>
<h3>(delete)</h3>

<h4>Prescription Pills</h4>
<% @prescription.pill_ids.each do |id| %>
  <p>Prescription Pill: 		<%= Pill.find(id).name %></p>
  <p>Instructions: 		<%= Pill.find(id).instruction %></p>
  <p>Exp. date: 		<%= Pill.find(id).exp_date %></p>
  <br>
<% end %>

